/* Common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

body {
    font-family: 'Nunito', sans-serif;
}

.container-lg {
    width: 70%;
    margin: 0 auto;
}

.container-lt {
    width: 60%;
    margin: 0 auto;
}

/* header */

.header-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 60px;
    background-color: #f5f8fa;
    line-height: 60px;
    border-bottom: 1px solid #34475b;
}

.header-top-left {
    width: 50%;
    height: 100%;
}

.header-top-right {
    width: 50%;
    height: 100%;
    text-align: right;
}

.header-bottom {
    height: 60px;
    margin-top: 60px;
    line-height: 60px;
}

.list-inline li {
    list-style: none;
    display: inline-block;
    padding: 5px 5px;
    vertical-align: middle;
}

 .list-inline a {
    text-decoration: none;
    color: #34475b;
    font-size: 12px;
}

.list-inline > li > i {
    font-size: 12px;
    color: #34475b;
    padding-left: 10px;
}

#search {
    color: #0ea6be;
    margin-right: 10px;
}

.header-bottom-logo {
    width: 50%;
    line-height: 60px;
}

.header-bottom-logo img {
    vertical-align: middle;
}

.header-bottom-right {
    height: 100%;
    text-align: right;
    width: 50%;
}

/* Buttons */

.btn {
    display: inline-block;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    line-height: 2;
}

.btn-white {
    color: #ff7a5a;
    font-weight: bold;
    border: 1px solid #ff7a5a;
    background-color: white;
}

.btn-orange {
    font-weight: bold;
    color: white;
    background-color:#ff7a5a;
}

.btn-orange-lg {
    font-weight: bold;
    background-color:#ff7a5a;
    line-height: 3;
}

.header-top-right .btn-orange > a {
    text-decoration: none;
    color: white;
}

#button-top {
    margin-left: 10px;
}

/* jumbotron */
.jumbotron {
    position: relative;
    height: 500px;
    background-color: #fff3ee;
    background-image:url(../img/jumbotron.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 81% auto;
    border-bottom: 2px solid #34475b;
}

.jumbo-content {
    width: 45%;
    padding-top: 50px;
    color: #34475b;
}

.jumbo-content h1 {
    font-size: 38px;
    padding-bottom: 20px;

}

.jumbo-content p {
    font-size: 12px;
    padding-bottom: 20px;
}

.jumbo-content span {
    font-size: 11px;
}

#header-division {
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #34475b;
    background-color: #afebe4;
}

/* Main */

main {
    height: 2000px;
    background-color: #f4f9fd;
}
/* cube section main top */
.main-top {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-top img {
    width: 25%;
}

.main-top h2 {
    font-size: 30px;
    color: #34475b;
    margin-bottom: 20px;
}

.main-top p {
    font-size: 12px;
    color: #34475b;
}
/* CRM section main middle */
.main-middle {
    height: 300px;
    box-shadow: 0 0 6px lightgray;
}

.img-section {
    width: 30%;
    text-align: center;
    padding-top: 50px;
}

.content-section {
    width: 70%;
    color: #34475b;
    padding-top: 35px;
}

.main-middle img {
    width: 55%;
    padding-bottom: 15px;
}

.img-section > a {
    padding: 10px 40px;
}

.content-section > h3 {
    font-size: 25px;
    color: #34475b;
    font-weight: bold;
    padding: 20px 0;
}

.content-section > p {
    font-size: 14px;
    color: #34475b;
    padding-bottom: 20px;
}

.content-section > h5 {
    font-size: 15px;
    color: #34475b;
    font-weight: bold;
    padding-bottom: 20px;
}

.fas.fa-check-circle {
    color: #ff7a5a;
}

.list-inline > li > .fas.fa-check-circle,
a  {
    padding-left: 0;
}

/* 3 col section main bottom */

.main-bottom {
    margin-top: 50px;
}

.bottom-left,
.bottom-middle,
.bottom-right {
    width: 30%;
    padding: 20px 30px;
    text-align: center;
    box-shadow: 0 0 6px lightgray;
}

.bottom-left  .img-section-3col > img {
    width: 50%;
}

.bottom-middle  .img-section-3col > img {
    width: 62%;
}

.bottom-right  .img-section-3col > img {
    width: 45%;
}

.main-bottom .content-3col > h3 {
    font-size: 25px;
    color: #34475b;
    font-weight: bold;
    padding: 20px 0;
}

.main-bottom .content-3col > p {
    font-size: 14px;
    color: #34475b;
    padding: 20px 0;
    line-height: 2;
}

.main-bottom .content-3col > h5 {
    font-size: 15px;
    color: #34475b;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 20px;
}

.main-bottom .list-inline > li {
    display: block;
    text-align: left;
    padding: 0px 0;
    font-size: 14px;
    line-height: 15px;
}

.bottom-middle {
    margin: 0 5%;
}

.btn-orange.learnmore {
    padding: 10px 40px;
    margin-top: 20px;
}

.bottom-hr {
    margin-top: 50px;
}

hr#horizontal {
    margin-left: 200px;
    width: 60%;
}


/* Data Section */

.data {
    height: 600px;
    background-image: linear-gradient(to right, #00aab8, #00bba8);
    margin-top: 50px;
    padding: 30px 0;
}

.top-data {
    text-align: center;
}

.top-data > h2 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

.top-data > p {
    font-size: 14px;
    color: white;
    margin-bottom: 50px;
}

.data-boxes {
    width: 100%;
}

.data-box {
    width: 25%;
    text-align: center;
    padding: 20px 0;
}

.data-box img {
    height: 25px;
}

.data-box > .numbers {
    font-size: 30px;
    font-weight: bolder;
    color: white;
    padding: 10px 0;
}

.data-box > p:nth-child(3) {
    font-size: 12px;
    color: white;
}

.data-border-right {
    border-right: 1px solid white;
}

.data-border-bottom {
    border-bottom: 1px solid white;
}

/* Customers Data */

.customers {
    height: 600px;
    padding-top: 50px;
}

.number {
    width: 40%;
}

.logos {
    width: 60%;
}

.number > h2 {
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 15px;
    color: #34475b;
}

.number > p {
    font-size: 14px;
    line-height: 2;
    color: #34475b;
}

.logos-list li {
    list-style: none;
    display: inline-block;
    padding: 5px 8px;
    vertical-align: middle;
}

.logos-list img {
    width: 120px;
}














